@page
@model BookListFinal.Pages.Classes.ClassUpdateModel
@{
    ViewData["Title"] = "Update";
}

<h1>Update Classes</h1>

<h4>Classes : </h4>
<hr />

<div class="row">
    <div class=" col-md-4">

        <form method="post">
            <div asp-validation-summary="All" class=" text-danger">
                <input type="hidden" asp-for=" Classes.Id" />

                <div class=" form-group">
                    <label asp-for="Classes.ClassName" class="control-label"></label>
                    <input asp-for=" Classes.ClassName" class=" form-control" />
                    <span asp-validation-for="Classes.ClassName" class=" text-danger"></span>
                </div>

                <div class=" form-group">
                    <label asp-for="Classes.SemesterYear" class="control-label"></label>
                    <input asp-for=" Classes.SemesterYear" class=" form-control" />
                    <span asp-validation-for="Classes.SemesterYear" class=" text-danger"></span>
                </div>

                <div class=" form-group">
                    <label asp-for="Classes.TeacherName" class="control-label"></label>
                    <input asp-for=" Classes.TeacherName" class=" form-control" />
                    <span asp-validation-for="Classes.TeacherName" class=" text-danger"></span>
                </div>

               

                <div class="form-group">
                    <input type="submit" value="Save Changes" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>

    <hr />
</div>
<h5>Return To List</h5>
<div>
    <a asp-page=" ./index">Back To List</a>
</div>
